<a href="https://colab.research.google.com/github/JonZmei/-project_01/blob/%D0%92%D1%81%D0%B5-%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F-%D0%B8-%D1%84%D0%B0%D0%B9%D0%BB%D1%8B/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B8%20%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D1%83%20%D1%81%20%D0%AF%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%D0%94%D0%B8%D1%81%D0%BA%D0%B0%20SQL%20%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Данные задачи 1 2 3 работают на основе  1 кода как дополнение и работа с билеотеками скаченые с Яндекс диска

In [ ]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('Schools.db')
#cursor = connection.cursor()
#query = """SELECT * FROM School;"""
#cursor.execute(query)
#records = cursor.fetchall()
#print(records)
df2 = pd.DataFrame({
    "School_Id": [7,8],
    "School_Name": ["Школа1", "Школа2"],
    "Place_Count": [240, 510]    
})

df2.to_sql("School", con = connection, if_exists = "append", index = False)

df = pd.read_sql("SELECT * FROM School;", connection)
#connection.close()
print (df)

import sqlite3
import pandas as pd

connection = sqlite3.connect('Schools.db')
df_city = pd.DataFrame({
    "School_Id":[1,2,3,4],
    "City":["Москва","Спб","Казань", "Екб"]
})

df_city.to_sql("City", connection)

import sqlite3
import pandas as pd

connection = sqlite3.connect('Schools.db')
select_query = """SELECT City.City, School.School_Name FROM School, City WHERE City.School_Id = School.School_Id"""
xl_output=pd.read_sql(select_query, connection)
xl_output.to_excel('test1.xlsx', index = False)

In [ ]:
import pandas as pd
import sqlite3

# Создаем соединение с базой данных
conn = sqlite3.connect('Students.db')

# Читаем таблицу Students и записываем ее в датафрейм
df = pd.read_sql_query("SELECT * from Students", conn)

# Закрываем соединение
conn.close()

# Записываем датафрейм в xlsx файл
df.to_excel('Task1.xlsx', index=False)

2 задание

In [ ]:
import pandas as pd
import sqlite3

# Создаем соединение с базой данных
conn = sqlite3.connect('Students.db')

# Создаем датафрейм с новыми студентами
new_students = pd.DataFrame({
    'name': ['John', 'Sarah', 'Mike'],
    'age': [20, 19, 21],
    'gender': ['male', 'female', 'male']
})

# Добавляем новых студентов в таблицу Students
new_students.to_sql('Students', conn, if_exists='append', index=False)

# Читаем обновленную таблицу Students и записываем ее в датафрейм
df = pd.read_sql_query("SELECT * from Students", conn)

# Закрываем соединение
conn.close()

# Записываем датафрейм в xlsx файл
df.to_excel('Task2.xlsx', index=False)

Задание 3

In [ ]:
import pandas as pd
import sqlite3

# Создаем соединение с базой данных
conn = sqlite3.connect('Students.db')

# Создаем таблицу Cars
cars = pd.DataFrame({
    'Car': ['BMW', 'Audi', 'Mercedes'],
    'Student_Id': [1, 2, 3]
})

# Добавляем таблицу Cars в базу данных
cars.to_sql('Cars', conn, if_exists='replace', index=False)

# Запрос для объединения таблиц Students и Cars
query = '''
SELECT Students.name as Student_Name, Cars.Car 
FROM Students 
JOIN Cars ON Students.ID = Cars.Student_Id
'''

# Читаем таблицу Students и Cars, объединяем их и записываем в датафрейм
df = pd.read_sql_query(query, conn)

# Закрываем соединение
conn.close()

# Записываем датафрейм в xlsx файл
df.to_excel('Task3.xlsx', index=False)