<a href="https://colab.research.google.com/github/JonZmei/-project_01/blob/Python-DZ/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F%20%D1%81%20%D0%B4%D0%B7%201%20.%202%20%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Типы данных в Python 
* int целое число 
* (2//2) = 1.0
* float десетичное число 

### Где писать пробелы ?
* между элементами внутри скобок [1.2.3.4.]
* после кадого знака
+,-,*,/,= и,т,д <br>

**НО** не ставте пробел между именем функции и скобочками !!

# True 
* 2==2 
# остаток от деления %
* 10/3    = 1
# операция сравнения == <.> 
2==2
# степень
2**1000
#  С помощью = переменной можно присвоить значение 
# х=100
# Можно определить сразу несколько переменных 
# x , y = 400 , 1
# print (выводится на экран то что в скобочках 
# складывать и вычитать flot и int  можно
# int целое число 
# float дробное число 
# round(12.5) округление к ближайшему четному числу 
# ~ инвертация 

# Функции  - инструменты по обработке данных 
*print()
*trpe (9)
*round(1.222 , 2)
*int(2.3)
*float(90)

Переменные - язык

In [ ]:
# кондр
# слеш
# это 
# коментарии

In [ ]:
2*2

4

In [ ]:
2+2*3

8

In [ ]:
2//2

1

In [ ]:
# % остаток от деления 
10%3

1

In [ ]:
( 30 - 60 ) / 22 + (( 20 // 2) * 10 + 5)

103.63636363636364

In [ ]:
def nenorm(x,y):
  res=x*y//2
  return res

def norm(x,y):
  res=x*y//2
  return res

In [ ]:
# степень
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [ ]:
# операция сравнения == <.> 
2==2

True

In [ ]:
print(2+2)
print(2//2)
22*22

4
1

484

In [ ]:
print(int(21) + float(21) * 0)

21.0

In [ ]:
round(12.5)

12

In [ ]:
print(30.0//3)

10.0

In [ ]:
n = 5 

~n == -( n + 1 )

True

# Операции со списками 
# primes = [2, 3, 5, 7, 11, 13]
Список – это последовательность элементов, пронумерованных от 0, как
символы в строке
# rainbow = ['red', 'green', 'blue']
Список может хранить любые типы объектов
rainbow = ['red', 62, 2.3]
Даже в перемешку
# rainbow = ['red', x, y]
Список может содержать переменные. Однако при выводе списка
появится содержимое этих переменных
# chars = list('Hello')
['H', 'e', 'l', 'l', 'o']
Функция list() превращает записанное слово в набор символов.

# Вывод элемента со списка 
rainbow[2]
2.3
Нумерация в списке начинается с 0
#primes[-1]
13
Выдан элемент списка с конца
#primes[3:6]
[7, 11, 13]
Аналогичны операциям со строками
#primes[::2]
[2, 5, 11]
Аналогичны операциям со строками
#primes[::-1]
[13, 11, 7, 5, 3, 2]
Позволяет перевернуть список
#len(primes)
6
С помощью len можно вывести количество элементов
#primes.append(15)
функция append() добавляет к списку один объект с конца. Объект может
быть любым
#rainbow.append([21])
['red', 'green', 'blue', [21]]
Метод append() не расширяет список элемента, а только добавляет объект
в конце.
# rain_2 = rainbow.append('sky')
Что будет если вывести print(rain_2)?

# Домашнее задание 1.1 
# Здесь мы использовали индексы, чтобы извлечь нужные части строки my_favorite_songs. Для первого трека мы использовали индексы 0:15, чтобы извлечь первые 15 символов строки (то есть название первой песни). Для последнего трека мы использовали индексы -18:, чтобы извлечь последние 18 символов строки (то есть название последней песни)

In [ ]:
my_favorite_songs = "Stairway to Heaven, Hotel California, Imagine, Hey Jude, Comfortably Numb"

# первый трек
print(my_favorite_songs[:18])

# последний трек
print(my_favorite_songs[39:])

# второй трек
print(my_favorite_songs[21:38])

# второй с конца трек
print(my_favorite_songs[-22:-5])

Stairway to Heaven
magine, Hey Jude, Comfortably Numb
otel California,
Jude, Comfortably

# Или

In [ ]:
my_favorite_songs = "Stairway to Heaven, Imagine, Smells Like Teen Spirit, Bohemian Rhapsody, Hotel California"

# первый трек
print(my_favorite_songs[:18])

# последний трек
print(my_favorite_songs[-16:])

# второй трек
second_track_start = my_favorite_songs.index(", ") + 2
second_track_end = my_favorite_songs.index(", ", second_track_start)
print(my_favorite_songs[second_track_start:second_track_end])

# второй с конца трек
penultimate_track_end = my_favorite_songs.rindex(", ")
penultimate_track_start = my_favorite_songs.rindex(", ", 0, penultimate_track_end) + 2
print(my_favorite_songs[penultimate_track_start:penultimate_track_end])

Stairway to Heaven
Hotel California
Imagine
Bohemian Rhapsody

# Домашнее задание 1.2
# # Задача 1.2.

# Пункт A. 
# Приведем плейлист песен в виде списка списков
# Список my_favorite_songs содержит список названий и длительности каждого трека
# Выведите общее время звучания трех случайных песен в формате
# Три песни звучат ХХХ минут

= мои любимые песни [
 ["Потеряй мгновение", 3.03],
 ["Новое спасение", 4.02],
 ["Остаться в живых", 3.40],
 ["Вне связи", 3.03],
 ["Своего рода сказка", 5.28],
 ["Легко", 4.15],
 ["Прекрасный день", 4.04],
 ["Некуда бежать", 2.58],
 ["В этом мире", 4.02],
]

In [ ]:
import random
import datetime

my_favorite_songs = [
    ["Потеряй мгновение", 3.03],
    ["Новое спасение", 4.02],
    ["Остаться в живых", 3.40],
    ["Вне связи", 3.03],
    ["Своего рода сказка", 5.28],
    ["Легко", 4.15],
    ["Прекрасный день", 4.04],
    ["Некуда бежать", 2.58],
    ["В этом мире", 4.02]
]

# Выберем три случайные песни из списка
random_songs = random.sample(my_favorite_songs, 3)

# Посчитаем общее время звучания трех песен
total_time = sum(song[1] for song in random_songs)

# Выведем результат на экран
print(f"Три песни звучат {total_time:.0f} минут")

Три песни звучат 11 минут

## Пункт B. 
# Есть словарь песен 
# Распечатайте общее время звучания трех случайных песен
# Вывод: Три песни звучат ХХХ минут.

= my_favorite_songs_dict {
    "Потеряй минутку": 3.03,
    "Новое спасение": 4.02,
    "Остаться в живых": 3.40,
    "Вне связи": 3.03,
    "Своего рода сказка": 5.28,
    "Легко": 4.15,
    "Прекрасный день": 4.04,
    "Некуда бежать": 2.58,
    "В этом мире": 4.02,
}

In [ ]:
import random
import datetime

my_favorite_songs_dict = {
    "Потеряй минутку": 3.03, 
    "Новое спасение": 4.02, 
    "Остаться в живых": 3.40, 
    "Вне связи": 3.03, 
    "Своего рода сказка": 5.28, 
    "Легко": 4.15, 
    "Прекрасный день": 4.04, 
    "Некуда бежать": 2.58, 
    "В этом мире": 4.02,
}

# Генерация трех случайных песен
random_songs = random.sample(list(my_favorite_songs_dict.keys()), 3)

# Подсчет общего времени звучания
total_time = sum([my_favorite_songs_dict[song] for song in random_songs])

# Перевод общего времени в формат времени
total_time_formatted = str(datetime.timedelta(minutes=total_time))

print("Три песни звучат {} минут.".format(total_time_formatted))

Три песни звучат 0:13:20.400000 минут.

# Дополнительно для пунктов A и B
# Пункт C.
# Сгенерируйте случайные песни с помощью модуля random
# импортировать случайным образом

# Дополнительно 
# Пункт D.
# Переведите минуты и секунды в формат времени. Используйте модуль datetime

# Задача 1.3.
# Напишите скрипт, который принимает от пользователя номер месяца, 
# а возвращает количество дней в нем.
# Результат проверки вывести на консоль
# Допущение: в феврале 28 дней
# Если номер месяца некорректен - сообщить об этом

# Например,
    # Введите номер месяца: 3
    # Вы ввели март. 31 дней

    # Введите номер месяца: 2
    # Вы ввели февраль. 28 дней

    # Введите номер месяца: 15
    # Такого месяца нет!

In [ ]:
month_days = {
    1: 31,
    2: 28,
    3: 31,
    4: 30,
    5: 31,
    6: 30,
    7: 31,
    8: 31,
    9: 30,
    10: 31,
    11: 30,
    12: 31
}

month_names = {
    'январь': 1,
    'февраль': 2,
    'март': 3,
    'апрель': 4,
    'май': 5,
    'июнь': 6,
    'июль': 7,
    'август': 8,
    'сентябрь': 9,
    'октябрь': 10,
    'ноябрь': 11,
    'декабрь': 12
}

month_input = input("Введите номер месяца или название месяца на русском языке: ")
if month_input.isdigit():
    month_number = int(month_input)
    if month_number in month_days:
        days = month_days[month_number]
        month_name = {
            1: 'январь',
            2: 'февраль',
            3: 'март',
            4: 'апрель',
            5: 'май',
            6: 'июнь',
            7: 'июль',
            8: 'август',
            9: 'сентябрь',
            10: 'октябрь',
            11: 'ноябрь',
            12: 'декабрь'
        }[month_number]
        print(f"Вы ввели {month_name}. {days} дней")
    else:
        print("Такого месяца нет!")
elif month_input in month_names:
    month_number = month_names[month_input]
    days = month_days[month_number]
    print(f"Вы ввели {month_input}. {days} дней")
else:
    print("Неверный формат ввода!")

Введите номер месяца или название месяца на русском языке: 3
Вы ввели март. 31 дней

# Задача 1.4

In [ ]:
# Домашняя работа  1.4 
# Здача 
# Рассчитайте на какую сумму лежит каждого товара на складе.
#
# Вывести суммарную стоимость каждого товара в магазине в формате:
# "<товар> - <кол-во> шт, стоимость <общая стоимость> руб"

# Пример: "Кроссовки тип 3 (Adidas) - 31 шт, стоимость 50747 руб"

# Есть словарь кодов товаров titles

titles = {
    'Кроссовки тип 3 (Adidas)': '100000110',
    'Мячик тип 2 (Adidas)': '100000146',
    'Кепка тип 1 (Adidas)': '100000149',
    'Ремень тип 2 (Nike)': '100000194',
    'Футболка тип 1 (Adidas)': '100000224',
    'Шапка тип 5 (Puma)': '100000280',
}

# Товары находятся на складе и сохранены в виде словаря списков словарей,
# которые отражают количество товаров в магазине по каждому коду.

store = {
    '100000110': [{'quantity': 31, 'price': 1637}],
    '100000146': [ {'quantity': 4, 'price': 45}, {'quantity': 10, 'price': 48}],
    '100000149': [ {'quantity': 28, 'price': 279}, {'quantity': 32, 'price': 291}],
    '100000194': [{'quantity': 8, 'price': 220}, {'quantity': 1, 'price': 170}],
    '100000224': [{'quantity': 61, 'price': 438}, {'quantity': 23, 'price': 302},  {'quantity': 50, 'price': 412}],
    '100000280': [{'quantity': 26, 'price': 175}, ]
}

total_value = {}
for code, items in store.items():
    total_value[code] = sum(item['quantity'] * item['price'] for item in items)

# Выводим суммарную стоимость каждого товара в магазине
for title, code in titles.items():
    if code in store:
        total_quantity = sum(item['quantity'] for item in store[code])
        total_price = total_value[code]
        print(f"{title} - {total_quantity} шт, стоимость {total_price} руб")

Кроссовки тип 3 (Adidas) - 31 шт, стоимость 50747 руб
Мячик тип 2 (Adidas) - 14 шт, стоимость 660 руб
Кепка тип 1 (Adidas) - 60 шт, стоимость 17124 руб
Ремень тип 2 (Nike) - 9 шт, стоимость 1930 руб
Футболка тип 1 (Adidas) - 134 шт, стоимость 54264 руб
Шапка тип 5 (Puma) - 26 шт, стоимость 4550 руб

# Занятие 10.03.2023


# Задача 1
 Приведем список покупок в магазине

shop_list = ['Картофель', 'Горошек', 'Рис', 'Хлеб']

 Измените список согласно пунктам задания
 Выведите результат каждого пункта на консоль по очереди

   а. Вставьте рыбу между горошком и рисом

 Узнаем какие мкдоты есть у списков 
from pprint import pprint
pprint(dir(shop_list))


shop_list.insert(shop_list.index('Рис'),'Рыба')

 print(shop_list)



   b. Добавьте фрукты из списка fruits в конец списка shop_list
 shop_list.append(fruits)
 print(shop_list)
 ['Картофель', 'Горошек', 'Рыба', 'Рис', 'Хлеб', ['Яблоко', 'Апельсин', 'Клубника']]

fruits = ['Яблоко', 'Апельсин', 'Клубника']

shop_list.extend(fruits)
 
   c. Удалите из списка shop_list картофель


 shop_list.remove('Картофель')
del_element = shop_list.pop(shop_list.index('Картофель'))
print(del_element)
print(shop_list)


 print(shop_list)



   d. Какими по счету стоят хлеб и апельсин? Выведите номера на консоль в формат
   Номер "продукта" в списке - N

print(shop_list.index('Хлеб'), shop_list.index('Апельсин'), sep='\n')

Кортеж

primes = [1, 2, 3, 8, 10, 20]
empty_lst = []
 
empty_lst.append(primes)
empty_lst.append(primes)
empty_lst.append(primes)
 
print(
   empty_lst[1][7]
   )
 
 [[1, 2, 3, 8, 10, 20], [1, 2, 3, 8, 10, 20], [1, 2, 3, 8, 10, 20]]
 
 
 empty_lst.append('Hello')
 print(empty_lst)
 
 empty_lst.append('Hola')
 print(empty_lst)
 
 empty_lst.append(primes)
 print(empty_lst)
 
 Сравнение кортежей и списков
rainbow = ('Red', 'Green', 'Blue')  # кортеж - неизменяемый массив
primes = [1, 2, 3, 8, 10, 20]  # список - изменяемый массив
 
 Проблема изменяемых объектов
print(id(primes))
 
new_lst = primes
 
new_lst.append('BHISBBUISBCIASBCUIBASC')
 
print(new_lst, primes, sep='\n')
print(id(primes) == id(new_lst))
 
 Зачем нужны неизменяемые кортежи tuple?
x, y = 1, 2
 
def func():
    return 'Hello', 'World'
 
 Копии кортежей
print(id(rainbow))
 
new_tpl = rainbow
new_tpl = new_tpl + ('Violet', 'Orange')
 
print(new_tpl, rainbow, sep='\n')
print(id(new_tpl) == id(rainbow))

#Как работает if elif

# Условный оператор if-elif-else
 
Заданы размеры коробки box_x, box_y и товара product_x, product_y
 Определить, поместится ли товар в коробке (габариты товара параллельны размеру коробки)
 Результат проверки вывести на консоль (ДА/НЕТ)
 Использовать только операторы if/elif/else, можно вложенные
box_x, box_y = 10, 7
product_x, product_y = 8, 9
 
проверить для
product_x, product_y = 9, 8
product_x, product_y = 8, 6
product_x, product_y = 3, 4
product_x, product_y = 11, 9
product_x, product_y = 9, 11
 
Раскомментируйте нужную строку
 
Вариант 1
if box_x >= product_x:
    # print('По грани x входит')
    if box_y >= product_y:
        print('ДА')
    else:
        print('НЕТ')
else:
    print('НЕТ')
 
Вариант 2
if box_x >= product_x and box_y >= product_y:
    print('Да')
else:
    print('Нет')
 
Вариант 3
print(True if box_x >= product_x and box_y >= product_y else False)

# Последовательность Фибаначи 


# Операторы цикла 
# while
 
# Последоватиельность Фибоначчи
# №       1 2 3 4 5 6 7 ... 100
# Число   1 1 2 3 5 8 13 ... ?
 
fib1, fib2 = 1, 1
 
search = input('Введите искомый номер последовательности: ')
i = int(search) - 2
 
while i > 0:
    print(fib2)
    fib1, fib2 = fib2, fib1 + fib2 
    # print(f'Счетчик {i}')
    i -= 1
 
print(fib2)

# Операторы цикла 
# for
 
room_prices = [41, 94, 100, 7, 21, 92, 62, 49, 37, 17, ]
 
# Через while
# i = 0
# while i < len(room_prices):
#     print(room_prices[i])
#     i += 1
 
# через for
for price in room_prices:
    print(price)
 
# for ind in range(len(room_prices)):
#     print(room_prices[ind])
 
# нужно найти всех сотрудников, 
# зарабатывающих по крайней мере 100 000 долларов в год ... отнять )
 
employees = {
    'Alice' : 100000,
    'Bob' : 99817,
    'Carol' : 122908,
    'Frank' : 88123,
    'Eve' : 93121
    }
 
# Вариант 1
top_managers = []
for name in employees.keys():
    if employees[name] >= 100000:
        top_managers.append(name)
 
print(top_managers)
 
# Вариант 2
top_managers = [name for name, salary in employees.items() if salary >= 100000]
 
print(top_managers)

# Функции 

принцип drv dont repeat yorsrlf
создание функии  Def
greeting() вызов функции
# Принцип DRY - Dont repeat yourself
# Создание функции
def greeting(name):
    print(f'Hello, {name}')
 
# Вызов функции
greeting('Mark')
 
# Вызов функции с параметром
for i in ['Mark', 'R2D2', 'Anakin', 'World']:
    greeting(i)

In [ ]:
# Принцип DRY - Dont repeat yourself
# Создание функции
def greeting(name):
    print(f'Hello, {name}')
 
# Вызов функции
greeting('Mark')
 
# Вызов функции с параметром
for i in ['Mark', 'R2D2', 'Anakin', 'World']:
    greeting(i)

Hello, Mark
Hello, Mark
Hello, R2D2
Hello, Anakin
Hello, World

Структура файла с клодом 
1 импорты 
 import.....
2 функции 
def ,,,()
  print(//)

3 код который содержит цикл или инициализацию

#Задача
# нужно найти всех сотрудников, 
# зарабатывающих по крайней мере 100 000 долларов в год ... отнять )
 
# Структура файла с кодом
# 1 Импорты 
# import чото
 
# 2 функции
# def чото():
#     print(чото)
 
# 3 код который содержит цикл или инициализацию
 
print('Start Debuging')
 
def get_topmgrs_list(dct_report):
    mgrs_list = []
    for name in dct_report.keys():
        if dct_report[name] >= 100000:
            mgrs_list.append(name)
    return mgrs_list
 
employees = {
    'Alice' : 100000,
    'Bob' : 99817,
    'Carol' : 122908,
    'Frank' : 88123,
    'Eve' : 93121
    }
 
top_managers = get_topmgrs_list(employees)
print(top_managers)

In [ ]:
print('Start Debuging')
 
def get_topmgrs_list(dct_report):
    mgrs_list = []
    for name in dct_report.keys():
        if dct_report[name] >= 100000:
            mgrs_list.append(name)
    return mgrs_list
 
employees = {
    'Alice' : 100000,
    'Bob' : 99817,
    'Carol' : 122908,
    'Frank' : 88123,
    'Eve' : 93121
    }
 
top_managers = get_topmgrs_list(employees)
print(top_managers)

Start Debuging
['Alice', 'Carol']

#

In [ ]:
def remove_word_with_one_em(s):
    words = s.split() # разделение строки на слова
    result = []
    for word in words:
        if word.count('!') != 1: # проверка на наличие ровно одного восклицательного знака
            result.append(word)
    return ' '.join(result) # объединение оставшихся слов в строку
print(remove_word_with_one_em("Hi!"))

#21.03.2023

Задача 2.1

# Домашняя работа 2

In [2]:
arr1 = [4,6,2,1,9,63,-134,566]
def minimum(arr):
    min_num = arr[0]
    for num in arr:
        if num < min_num:
            min_num = num
    return min_num

def maximum(arr):
    max_num = arr[0]
    for num in arr:
        if num > max_num:
            max_num = num
    return max_num
print("min:", minimum(arr1)) # -134
print("max:", maximum(arr1)) # 566

min: -134
max: 566

задача 2.2

In [3]:
def quarter_of(month):
    if month in range(1, 4):
        return 1
    elif month in range(4, 7):
        return 2
    elif month in range(7, 10):
        return 3
    else:
        return 4
print(quarter_of(2)) # 1
print(quarter_of(6)) # 2
print(quarter_of(11)) # 4
print(quarter_of(13)) # None

1
2
4
4

задача 2.3

In [4]:
def switch_it_up(number):
    numbers_to_words = {
        0: 'Zero',
        1: 'One',
        2: 'Two',
        3: 'Three',
        4: 'Four',
        5: 'Five',
        6: 'Six',
        7: 'Seven',
        8: 'Eight',
        9: 'Nine'
    }
    return numbers_to_words.get(number)
print(switch_it_up(1)) 
print(switch_it_up(3)) 
print(switch_it_up(7)) 
print(switch_it_up(10))

One
Three
Seven
None

задача 2.4

In [5]:
# Пункт A
def remove_exclamation_marks(s):
    return s.replace("!", "")

# Пункт B
def remove_last_em(s):
    if s.endswith("!"):
        return s[:-1]
    else:
        return s

# Пункт С
def remove_word_with_one_em(s):
    words = s.split()
    result_words = []
    for word in words:
        if word.count("!") != 1:
            result_words.append(word)
    return " ".join(result_words)

In [6]:
# Пункт A
def remove_exclamation_marks(s):
    return s.replace("!", "")
print(remove_exclamation_marks("Hi! Hello!")) # "Hi Hello"
print(remove_exclamation_marks("")) # ""
print(remove_exclamation_marks("Oh, no!!!")) # "Oh, no"

Hi Hello

Oh, no

In [7]:
# Пункт B
def remove_last_em(s):
    if s.endswith("!"):
        return s[:-1]
    else:
        return s
print(remove_last_em("Hi!")) # "Hi"
print(remove_last_em("Hi!!!")) # "Hi!!"
print(remove_last_em("!Hi")) # "!Hi"

Hi
Hi!!
!Hi

In [8]:
# Пункт С
def remove_word_with_one_em(s):
    words = s.split()
    result_words = []
    for word in words:
        if word.count("!") != 1:
            result_words.append(word)
    return " ".join(result_words)
print(remove_word_with_one_em("Hi!")) # ""
print(remove_word_with_one_em("Hi! Hi!")) # ""
print(remove_word_with_one_em("Hi! Hi! Hi!")) # ""
print(remove_word_with_one_em("Hi Hi! Hi!")) # "Hi"
print(remove_word_with_one_em("Hi! !Hi Hi!")) # ""
print(remove_word_with_one_em("Hi! Hi!! Hi!")) # "Hi!!"
print(remove_word_with_one_em("Hi! !Hi! Hi!")) # "!Hi!"

Hi

Hi!!
!Hi!

пример что выводит

In [ ]:
print(remove_exclamation_marks("Hi! Hello!")) # "Hi Hello"
print(remove_exclamation_marks("")) # ""
print(remove_exclamation_marks("Oh, no!!!")) # "Oh, no"

print(remove_last_em("Hi!")) # "Hi"
print(remove_last_em("Hi!!!")) # "Hi!!"
print(remove_last_em("!Hi")) # "!Hi"

print(remove_word_with_one_em("Hi!")) # ""
print(remove_word_with_one_em("Hi! Hi!")) # ""
print(remove_word_with_one_em("Hi! Hi! Hi!")) # ""
print(remove_word_with_one_em("Hi Hi! Hi!")) # "Hi"
print(remove_word_with_one_em("Hi! !Hi Hi!")) # ""
print(remove_word_with_one_em("Hi! Hi!! Hi!")) # "Hi!!"
print(remove_word_with_one_em("Hi! !Hi! Hi!")) # "!Hi!"

заметка 

Функция remove_exclamation_marks использует метод replace для

Функция remove_last_em используетendswith для

Фуункция remove_word_with_one_em разбивает сsplit, затем создает новый списfiltered_words, содержащий только те слова, которые не содержатjoin.